<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
   <menu id="root-menu" label="Openbox 3">
      <item label="Run Program">
          <action name="Execute">
              <execute>
                  gmrun
              </execute>
          </action>
      </item>
      <separator/>
      <item label="Terminal">
          <action name="Execute">
              <execute>
                  x-terminal-emulator
              </execute>
          </action>
      </item>
      <item label="Web Browser">
          <action name="Execute">
              <execute>
                  x-www-browser
              </execute>
          </action>
      </item>
      <item label="File Manager">
          <action name="Execute">
              <execute>
                  pcmanfm
              </execute>
          </action>
      </item>
      <separator/>
      <menu id="graphical" label="Graphical Apps">
          <item label="Leafpad">
              <action name="Execute">
                  <execute>
                      leafpad
                  </execute>
              </action>
          </item>
          <item label="OpenOffice">
              <action name="Execute">
                  <execute>
                      ooffice
                  </execute>
              </action>
          </item>
          <item label="Geany">
              <action name="Execute">
                  <execute>
                      geany
                  </execute>
              </action>
          </item>
          <item label="Media Player">
              <action name="Execute">
                  <execute>
                      vlc
                  </execute>
              </action>
          </item>
          <item label="GIMP">
              <action name="Execute">
                  <execute>
                      gimp
                  </execute>
              </action>
          </item>
          <item label="Skype">
              <action name="Execute">
                  <execute>
                      skype
                  </execute>
              </action>
          </item>
          <item label="Google Earth">
              <action name="Execute">
                  <execute>
                      googleearth
                  </execute>
              </action>
          </item>
          <item label="Chromium">
              <action name="Execute">
                  <execute>
                      chromium-browser
                  </execute>
              </action>
          </item>
          <item label="Brasero">
              <action name="Execute">
                  <execute>
                      brasero
                  </execute>
              </action>
          </item>
     </menu>
     <menu id="terminal" label="Terminal Apps">
        <item label="Vim - Text Editor">
            <action name="Execute">
                <execute>
                    x-terminal-emulator --command=vim
                </execute>
            </action>
        </item>
        <item label="Midnight Commander - File Manager">
            <action name="Execute">
                <execute>
                    x-terminal-emulator --command=mc
                </execute>
            </action>
        </item>
        <item label="rtorrent - Bit Torrent Client">
            <action name="Execute">
                <execute>
                    x-terminal-emulator --command=rtorrent
                </execute>
            </action>
        </item>
        <item label="MoC - Music Player">
            <action name="Execute">
                <execute>
                    x-terminal-emulator --command=mocp
                </execute>
            </action>
        </item>
        <item label="newsbeuter - Feed Reader">
            <action name="Execute">
                <execute>
                    x-terminal-emulator --command="newsbeuter -r"
                </execute>
            </action>
        </item>
        <item label="elinks - Web Browser">
            <action name="Execute">
                <execute>
                    x-terminal-emulator --command=elinks
                </execute>
            </action>
        </item>
        <item label="MUTT - Email Client">
            <action name="Execute">
                <execute>
                    x-terminal-emulator --command=mutt
                </execute>
            </action>
        </item>
        <item label="irssi - IRC Client">
            <action name="Execute">
                <execute>
                    x-terminal-emulator --command=irssi
                </execute>
            </action>
        </item>
        <menu id="terminalmanpages" label="Help?">
           <separator label="man pages"/>
           <item label="Vim">
                <action name="Execute">
                    <execute>
                        xterm -maximized -e "man vim"
                    </execute>
                </action>
            </item>
            <item label="Midnight Commander">
                <action name="Execute">
                    <execute>
                        xterm -maximized -e "man mc"
                    </execute>
                </action>
            </item>
            <item label="rtorrent">
                <action name="Execute">
                    <execute>
                        xterm -maximized -e "man rtorrent"
                    </execute>
                </action>
            </item>
            <item label="MoC">
                <action name="Execute">
                    <execute>
                        xterm -maximized -e "man moc"
                    </execute>
                </action>
            </item>
            <item label="newsbeuter">
                <action name="Execute">
                    <execute>
                        xterm -maximized -e "man newsbeuter"
                    </execute>
                </action>
            </item>
            <item label="elinks">
                <action name="Execute">
                    <execute>
                        xterm -maximized -e "man elinks"
                    </execute>
                </action>
            </item>
            <item label="MUTT">
                <action name="Execute">
                    <execute>
                        xterm -maximized -e "man mutt"
                    </execute>
                </action>
            </item>
            <item label="irssi">
                <action name="Execute">
                    <execute>
                        xterm -maximized -e "man irssi"
                    </execute>
                </action>
            </item>
        </menu>
    </menu>
    <separator/>
    <menu id="places" label="Places" execute="obpipemenu-places ~" />
    <separator/>
    <menu id="preferences" label="Preferences">
        <menu id="conkyconfig" label="Conky Config">
            <item label="Edit .conkyrc">
                <action name="Execute">
                    <execute>
                        leafpad ~/.conkyrc
                    </execute>
                </action>
            </item>
            <item label="Restart Conky">
                <action name="Execute">
                    <execute>
                        conkywonky
                    </execute>
                </action>
             </item>
             <separator label="Help?"/>
             <item label="man page">
                 <action name="Execute">
                     <execute>
                        xterm -maximized -e "man conky"
                     </execute>
                 </action>
             </item>
             <item label="Wiki Page">
                  <action name="Execute">
                      <execute>
                         x-www-browser http://crunchbanglinux.org/wiki/conky
                      </execute>
                  </action>
             </item>
         </menu>
         <menu id="dmenuconfig" label="dmenu Config">
             <item label="Edit start-up script">
                 <action name="Execute">
                     <execute>
                         leafpad ~/.config/dmenu/dmenu-bind.sh
                      </execute>
                  </action>
              </item>
              <separator label="Help?"/>
              <item label="man page">
                  <action name="Execute">
                      <execute>
                          xterm -maximized -e "man dmenu"
                      </execute>
                  </action>
              </item>
          </menu>
          <menu id="gmrunconfig" label="gmrun Config">
              <item label="Edit config file">
                  <action name="Execute">
                      <execute>
                          leafpad ~/.gmrunrc
                      </execute>
                  </action>
               </item>
               <separator label="Help?"/>
               <item label="man page">
                   <action name="Execute">
                       <execute>
                           xterm -maximized -e "man gmrun"
                       </execute>
                   </action>
                </item>
           </menu>
           <menu id="obConfig" label="Openbox Config">
               <item label="Edit menu.xml">
                   <action name="Execute">
                       <execute>
                          leafpad ~/.config/openbox/menu.xml
                       </execute>
                    </action>
                </item>
                <item label="Edit rc.xml">
                    <action name="Execute">
                        <execute>
                            leafpad ~/.config/openbox/rc.xml
                        </execute>
                    </action>
                </item>
                <item label="Edit autostart.sh">
                    <action name="Execute">
                        <execute>
                            leafpad ~/.config/openbox/autostart.sh
                        </execute>
                    </action>
                 </item>
                 <item label="GUI Menu Editor">
                     <action name="Execute">
                         <execute>
                             obmenu
                         </execute>
                     </action>
                 </item>
                 <item label="GUI Config Tool">
                     <action name="Execute">
                         <execute>
                            obconf
                         </execute>
                     </action>
                  </item>
                  <item label="Reconfigure">
                      <action name="Reconfigure"/>
                  </item>
                  <item label="Restart">
                     <action name="Restart"/>
                  </item>
              </menu>
              <menu id="x-terminal-emulatorconfig" label="x-terminal-emulator Config">
                  <item label="Edit config file">
                      <action name="Execute">
                          <execute>
                              leafpad ~/.config/lxterminal/lxterminal.conf
                          </execute>
                      </action>
                  </item>
                  <separator label="Help?"/>
                  <item label="man page">
                      <action name="Execute">
                          <execute>
                              xterm -maximized -e "man x-terminal-emulator"
                          </execute>
                      </action>
                  </item>
              </menu>
              <menu id="tint2config" label="tint2 Panel Config">
                  <item label="Edit config file">
                      <action name="Execute">
                          <execute>
                              leafpad ~/.config/tint2/tint2rc
                          </execute>
                      </action>
                  </item>
                  <separator label="Help?"/>
                  <item label="man page">
                      <action name="Execute">
                          <execute>
                              xterm --command="man tint2"
                          </execute>
                      </action>
                  </item>
                  <item label="Online Help">
                      <action name="Execute">
                          <execute>
                              x-www-browser http://code.google.com/p/tint2/wiki/Welcome
                          </execute>
                      </action>
                  </item>
              </menu>
          <item label="User Interface Settings">
              <action name="Execute">
                  <execute>
                      lxappearance
                  </execute>
              </action>
          </item>
      </menu>
      <menu id="system" label="System">
          <item label="System Update">
              <action name="Execute">
                  <execute>
                      sudo /usr/local/bin/system-update
                  </execute>
              </action>
          </item>
          <menu id="DisplaySettings" label="Display Settings">
              <item label="Adjust with lxrandr">
                  <action name="Execute">
                      <execute>
                          lxrandr
                      </execute>
                  </action>
              </item>
              <separator label="Help?"/>
              <item label="man xrandr">
                  <action name="Execute">
                      <execute>
                          xterm -maximized -e "man xrandr"
                      </execute>
                  </action>
              </item>
          </menu>
          <item label="Edit Default Applications">
              <action name="Execute">
                  <execute>
                      xterm -maximized -e "sudo update-alternatives --all"
                  </execute>
              </action>
          </item>
          <item label="Package Manager">
              <action name="Execute">
                  <execute>
                      sudo synaptic
                  </execute>
              </action>
          </item>
          <item label="Partition Editor">
              <action name="Execute">
                  <execute>
                      sudo gparted
                  </execute>
              </action>
          </item>
          <item label="Printer Settings">
              <action name="Execute">
                  <execute>
                      x-www-browser http://localhost:631
                  </execute>
              </action>
          </item>
          <item label="Services/Daemons">
              <action name="Execute">
                  <execute>
                      sudo bum
                  </execute>
              </action>
          </item>
          <item label="System Monitor">
              <action name="Execute">
                   <execute>
                       x-terminal-emulator --command=htop
                   </execute>
              </action>
          </item>
          <item label="System Logs">
              <action name="Execute">
                  <execute>
                      sudo geany /var/log/*log
                  </execute>
              </action>
          </item>
      </menu>
      <menu id="help" label="Help" execute="obpipemenu-crunchbang-help" />
      <separator/>
      <item label="Exit">
          <action name="Execute">
              <execute>
                  openbox-logout
              </execute>
          </action>
      </item>
  </menu>
</openbox_menu>
